################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NueveYMedia.NumerologiaSolutions/config
/.vs/NueveYMedia.NumerologiaSolutions/v17
/src/NueveYMedia.NumerologiaWebApplication/ClientApp/.angular/cache/13.3.4
/.vs
