<h1>Bienvenido, a tu aplicacion de analisis numerologico!</h1>
<p>Bienvenido a tu aplicacion de analisis numerologico, esigue las instrucciones para obtener un analizis completo.</p>
<ul>
  <li>Escribe el nombre <code>completo</code></li>
  <li>Marca la fecha de Nacimiento</li>
  <li>Oprime el boton de validar</li>
</ul>

<app-name-form (newItemEvent)="addItem($event)"></app-name-form>

<app-name-diagram [numericalAnalisys]="numericalAnalisys" *ngIf="numericalAnalisys!=null"></app-name-diagram>
